@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Nunito";
  line-height: 20px;
  color: white;
  background-color: #323a45;
}

.error {
  color: red;
}

/* image background */
.header-background {
  position: static;
  display: block;
  overflow: visible;
  top: 0;
  min-height: 100vh;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from (rgba(50, 58, 69, 0.9))
  );
  background-image: linear-gradient(
      180deg,
      rgba(50, 58, 69, 0.55),
      rgba(50, 58, 69, 0.74)
    ),
    url(../images/dog.jpg);

  flex-direction: column;
  background-position: 0px 0px, 100% 50%;
  background-size: auto, cover;
  white-space: normal;
  object-fit: fill;
  -o-object-fit: fill;
  -webkit-box-orient: vertical;
}

.heading {
  font-size: 2.6rem;
  font-weight: lighter;
  line-height: 1.4;
  text-align: center;
  color: white;
  min-height: 100px;
  margin: 10px;
}

img {
  max-width: 100%;
  height: 75px;
}

/* navbar */
a {
  color: white;
  text-decoration: none;
  font-weight: normal;
}

a:hover {
  color: white;
  font-weight: 900;
}

.sticky-nav {
  position: sticky;
  top: 0px;
  z-index: 1;
  align-self: auto;
  -ms-flex-order: 0;
  order: 0;
  background-color: rgba(12, 32, 55, 0.5);
}

/* .navbar .navbar-brand a {
  padding: 1rem 0;
  display: block;
  text-decoration: none;
} */

/* .navbar-brand {
  font-size: 3.2rem;
  color: white;
  font-weight: bold;
  font-style: italic;
} */

.navbar-expand-lg .navbar-nav .nav-link.active .router-link-active {
  color: rgb(53 205 151);
  font-weight: normal;
}

.navbar-expand-lg .navbar-nav .nav-link.active .router-link-active:hover {
  color: black;
  font-weight: 900;
}

.dropdown-item {
  font-weight: normal;
}
.dropdown-item:hover {
  color: black;
  background-color: transparent;
  font-weight: 900;
}

.navbar-toggler {
  border: none;
  padding: 10px 6px;
  outline: none;
}
.navbar-toggler span {
  display: block;
  width: 22px;
  height: 2px;
  border: 1px;
  background-color: #fff;
}
.navbar-toggler span + span {
  margin-top: 4px;
  width: 22px;
}

.navbar-toggler span + span + span {
  width: 22px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-bottom: 1.4rem 1rem;
  font-size: 1.2rem;
  position: relative;
}

.btn {
  background-color: rgb(53 205 151 / 61%);
  color: white;
  border-radius: 49px;
  padding: 0.5rem 1.5rem;
  font-size: normal;
}

.btn:hover {
  background-color: black;
  color: white;
  font-weight: 900;
}

.card a {
  color: black;
}

.quote-main {
  padding-top: 70px;
}
